<main class="main">
  <div class="container">
    <form action="" class="form">
      <div class="form_wrapper">
        <div class="form_search">
          <include src="./images/search.svg"></include>
        </div>
        <input type="text" placeholder="Пошук" class="form_input">
      </div>
      <button type="submit" class="button">Знайти</button>
    </form>
    <div class="content">
      <div class="card">
        <a href="#" class="card_link">
          <div class="card_info">
            <p class="card_title">Hyundai Tucson</p>
            <span class="card_desctiption">Dynamic 1.6 CRDi 7DCT (136 к.с) 4WD</span>
            <div class="tooltip">
              <span class="tooltip_text">tooltip</span>
            </div>
          </div>
          <div class="card_wrapper">
            <img class="card_image" src="./images/car-1.jpg" alt="">
            <div class="badge">
              <div class="badge_icon">
                <include src="./images/badge.svg"></include>
              </div>
              <span>Перевірений VIN</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="card_link">
          <div class="card_info">
            <p class="card_title">Nissan Qashqai</p>
            <span class="card_desctiption">Dynamic 1.6 CRDi 7DCT (136 к.с) 4WD</span>
            <div class="tooltip">
              <span class="tooltip_text">tooltip</span>
            </div>
          </div>
          <div class="card_wrapper">
            <img class="card_image" src="./images/car-2.jpg" alt="">
            <div class="badge">
              <div class="badge_icon">
                <include src="./images/badge.svg"></include>
              </div>
              <span>Перевірений VIN</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="card_link">
          <div class="card_info">
            <p class="card_title">Volkswagen Touareg External renewal (often this type is called facelift - "facelift" or rejuvenation)</p>
            <span class="card_desctiption">Dynamic 1.6 CRDi 7DCT (136 к.с) 4WD</span>
            <div class="tooltip">
              <span class="tooltip_text">tooltip</span>
            </div>
          </div>
          <div class="card_wrapper">
            <img class="card_image" src="./images/car-3.jpg" alt="">
            <div class="badge">
              <div class="badge_icon">
                <include src="./images/badge.svg"></include>
              </div>
              <span>Перевірений VIN</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="card_link">
          <div class="card_info">
            <p class="card_title">BMW X6</p>
            <span class="card_desctiption">Dynamic 1.6 CRDi 7DCT (136 к.с) 4WD</span>
            <div class="tooltip">
              <span class="tooltip_text">tooltip</span>
            </div>
          </div>
          <div class="card_wrapper">
            <img class="card_image" src="./images/car-4.jpg" alt="">
            <div class="badge">
              <div class="badge_icon">
                <include src="./images/badge.svg"></include>
              </div>
              <span>Перевірений VIN</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>