
<header class="header">
  <div class="container header_container">
    <a href="/" class="logo">
      <include src="./images/logo.svg"></include>
    </a>
    <div class="navigation">
      <div class="navigation_wrapper">
        <button type="button" class="navigation_button navigation_closeButton">Закрити меню</button>
        <nav class="navigation_menu">
          <a href="#" class="navigation_link active">Популярні авто</a>
          <a href="#" class="navigation_link">Автосалони</a>
          <a href="#" class="navigation_link">Тест-драйви</a>
          <a href="#" class="navigation_link">Скоро у продажу</a>
        </nav>
      </div>
      <button type="button" class="navigation_button navigation_login">Увійти</button>      
    </div>
    <button type="button" class="navigation_button navigation_openButton">Меню</button>
  </div>
</header>