//
// Project Colors
//


:root {
  --black-bg: #05041f;
  --black-bg-alpha-08: rgba(5, 4, 31, 0.8);
  --gradient-1: linear-gradient(182.29deg, rgba(66, 3, 0, 0.5) -20.87%, var(--black-bg) 94.82%); 
}
