@use '../../abstract/helpers/all' as h;

//
// Project container width
//

:root {
  --container-width: 100%;

  @include h.media-breakpoint-up(md) {
    --container-width: #{h.rem(960px)};
  }

  @include h.media-breakpoint-up(lg) {
    --container-width: #{h.rem(1200px)};
  }
}
